<% if current_user.has_role?("admin") %>
  <%= render partial: "admin_show" %>
<% elsif current_user.has_role?("invitee") %>
  <div class="content">
    <% unless @event.nil? %>
      <ul class="cb-slideshow">
        <% @event.images.each do |image| %>
          <li><span style="background-image: url(<%= image.file.url %>)"><%= File.basename(image.file_file_name, ".*") %></span><div></div></li>
        <% end %>
      </ul>
    <% end %>
  </div><!-- .content -->

  <%= render partial: "invitee_show" %>
<% end%>
