<% if current_user.has_role?("admin") %>
  <%= render partial: "admin_show" %>
<% elsif current_user.has_role?("invitee") %>
  <section class="distractful text-center">
    <% if @event.present? %>
      <% @event.images.each do |image| %>
        <div class="distractful-item">
          <%= image_tag image.file.url %>
        </div>
      <% end %>
    <% else %>
      <div class="distractful-item">
      </div>
    <% end %>
  </section>

  <%= render partial: "invitee_show" %>
<% end%>
