<!DOCTYPE html>
<html>
  <head></head>

  <body>
    Invitation email
    to <%= @invitee.email %>, <%= @invitee.name %><br/>
    Event <%= @event.name %><br/>
    <%= @event.description %>
  </body>
</html>
